# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
*.d
*.pcm
*.pyc
__init__.py
*.DS_Store
Pdfdata
br.sm?
input.DAT
ffwarn.dat
